---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<div class="flex min-h-screen flex-col items-center justify-center p-8">
		<h1>Sprawdź nasze usługi</h1>
		<p>To jest przykładowa strona stworzona za pomocą Astro.</p>
	</div>
</MainLayout>
